#include "resource.h"

BACKGROUND_IMAGE	IMAGE_FILE	"../resource/image/menu/background.jpg"

MAP_IMAGE	IMAGE_FILE	"../resource/image/map/mapchip.png"

MASS_MOVABLE	IMAGE_FILE	"../resource/image/map/state-movable.png"

MASS_ATACKABLE	IMAGE_FILE	"../resource/image/map/state-atack.png"


UNIT_IMAGE		IMAGE_FILE	"../resource/image/unit/unit.png"

UNIT_ACTED_IMAGE	IMAGE_FILE	"../resource/image/unit/unit-acted.png"


BULLET_IMAGE		IMAGE_FILE	"../resource/image/unit/bullet.png"

EFFECT_DAMAGE	IMAGE_FILE	"../resource/image/effect/damage.png"

EFFECT_MISS	IMAGE_FILE	"../resource/image/effect/miss.png"



BACK_WAVE	WAVE	"../resource/sound/back.wav"

CLICK_OGG	OGG		"../resource/sound/click.ogg"

CHECK_OGG	OGG		"../resource/sound/check.ogg"

BORN_WAVE	WAVE	"../resource/sound/born.wav"

ATTACK_CLOSE_WAVE	WAVE	"../resource/sound/attack-close.wav"

MOV_WAVEE	WAVE	"../resource/sound/move.wav"

SELECT_UNIT_WAVE	WAVE	"../resource/sound/select-unit.wav"

WAIT_WAVE	WAVE	"../resource/sound/wait.wav"

ATTACK_FIRE_OGG	OGG	"../resource/sound/attack-fire.ogg"